* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 0px;
}

ul {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

nav li {
    display: inline-block;
    width: 20%;
    padding: 5px 10px;
    background: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
}

nav li:hover {
    background-color: #fff;
    color: #000;
}