body {
    text-align: center;
    background-color: white;
    font-family: monospace;
}

.Cuadrado {
    width: 650px;
    height: 860px;
    position: relative;
    display: inline-block;
    top: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    align-items: center;
    justify-content: center;
}

#Sistema {
    border-width: 2px;
    border-color: black;
    width: 600px;
    height: 200px;
    position: absolute;
    display: inline-block;
    font-size: 35px;
    top: 15px;
    left: 20px;
    color: black;
}

#TM {
    border-width: 2px;
    border-color: black;
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    font-size: 16px;
    top: 18px;
    left: 555px;
    color: black;
}

#Ana {
    border-width: 2px;
    border-color: black;
    width: 300px;
    height: 30px;
    position: absolute;
    display: inline-block;
    font-size: 18px;
    top: 90px;
    left: 180px;
    color: black;
}

#DivFoto {
    border-width: 2px;
    border-color: black;
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    top: 65px;
    left: 200px;
    color: black;
}

#Foto {
    width: 130px;
    height: 55px;
}

.Cuadrado1 {
    width: 600px;
    height: 200px;
    position: absolute;
    display: inline-block;
    top: 135px;
    left: 25px;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 18px;
}

.Cuadrado2 {
    width: 600px;
    height: 200px;
    position: absolute;
    display: inline-block;
    top: 350px;
    left: 25px;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 18px;
}

.Cuadrado3 {
    width: 580px;
    height: 215px;
    position: absolute;
    display: inline-block;
    top: 530px;
    left: 40px;
    color: black;
    align-items: center;
    justify-content: center;
}

.HR {
    width: 600px;
    top: 785px;
    left: 25px;
    border-width: 2px;
    position: absolute;
    display: inline-block;
    border-color: black;
}

#BarraSocial {
    width: 500px;
    height: 60px;
    top: 800px;
    left: 30px;
    position: absolute;
    display: inline-block;
}

#FotoAndroid {
    width: 110px;
    height: 130px;
    margin-top: 2px;
    margin-left: 8px;
    float: left;
    margin-right: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#FotoXML {
    width: 120px;
    height: 140px;
    margin-top: 2px;
    margin-left: 2px;
    float: right;
    margin-right: 2px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

.Listado {
    font-size: 18px;
    float: left;
    text-align: left;
}

.VERDE {
    color: darkgreen;
}

.TAMAÑOINICIAL {
    font-size: 25px;
}

.ROJO {
    color: red;
}